afx-overlay[data-id = "notifyzone"]{
    /*opacity: 0.85;*/
    
    overflow-y: auto;
    overflow-x: hidden;
    padding:3px;
    margin: 0;
}
afx-overlay[data-id = "notifyzone"] afx-button button{
    width: 100%;
    border-radius: 0;
}
afx-list-view[data-id = "notifylist"]
{
    padding:0;
}
afx-list-view[data-id = "notifylist"] > div.list-container > ul li{
    border:1px solid #464646;
    border-radius: 3px;
    margin-bottom: 5px;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    padding-top: 5px;
    padding-bottom: 5px;
}

afx-overlay[data-id = "feedzone"]{
    overflow: hidden;
    background-color:transparent;
    right:5px;
    margin: 0;
    padding:0;
    top:0;
}
afx-list-view[data-id = "notifeed"]
{
    padding:0;
    margin:0;
}
afx-list-view[data-id = "notifeed"] li{
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.65);
    border:1px solid #262626;
    border-radius: 6px;
    margin-bottom: 2px;
    z-index: 99999;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
}

afx-app-window[data-id ='Syslog'] div[data-id ='container']{
    overflow: auto;
}

afx-app-window[data-id ='Syslog'] .afx-bug-list-item-error {
    display: block;

}

afx-app-window[data-id ='Syslog'] .afx-bug-list-item-error i::before {
    color: chocolate;
}
afx-app-window[data-id ='Syslog'] .afx-bug-list-item-time{
    display: block;
    padding-left: 10px;
}
afx-app-window[data-id ='Syslog'] .afx-bug-list-item-time i.label-text{
    font-size: 10px;
    font-style: italic;
}

afx-app-window[data-id ='Syslog'] afx-bug-list-item li.selected {
    background-color: #116cd6;
    color: white;
}

afx-app-window[data-id ='Syslog'] pre {
    padding: 10px;
    margin:0;
    user-select: text;
    cursor: text;
}
afx-app-window[data-id ='Syslog'] input{
    height: 100%;
}