afx-app-window[data-id="notepad"] afx-list-view {
    margin: 2px;
    margin-right: 5px;
}

afx-app-window[data-id="notepad"] afx-list-view div.list-container{
    z-index: 10;
}
afx-app-window[data-id="notepad"] afx-resizer{
    z-index: 11;
    background-color: transparent;
    border-right: 1px solid #a6a6a6;
}
afx-app-window[data-id="notepad"] span[data-id="editorstat"]{
    padding:5px;
    display: inline-block;
}
afx-app-window[data-id="notepad"] afx-vbox[data-id="bottom-vbox"]{
    background-color: #dfdfdf;
}
afx-app-window[data-id="notepad"] .afx-window-content {
    background-color: #f6F6F6;
}

afx-tab-container[data-id="tabarea"] afx-list-view li {
    background-color: #dfdfdf;
    color:#272822;
    border: 0;
    border-top: 1px solid #a6a6a6;
    border-right: 1px solid #a6a6a6;
    border-radius: 0;
}
afx-tab-container[data-id="tabarea"] afx-list-view{
    padding:0;
    margin: 0;
    border-left: 0;
    border-bottom: 1px solid #a6a6a6;
}
/*afx-tab-container[data-id="tabarea"] afx-list-view i.closable:before{
    color: white;
}*/
afx-tab-container[data-id="tabarea"] afx-list-view li.selected {
    background-color: #f6F6F6;
    border-radius: 0;
}