afx-app-window[data-id="notepad"] afx-list-view {
    margin: 2px;
    margin-right: 5px;
}

afx-app-window[data-id="notepad"] afx-list-view div.list-container{
    z-index: 10;
}
afx-app-window[data-id="notepad"] afx-resizer{
    z-index: 11;
    background-color: transparent;
    border-right: 1px solid #a6a6a6;
}
afx-app-window[data-id="notepad"] afx-label[data-id="editorstat"]{
    padding:5px;
    display: inline-block;
}
afx-app-window[data-id="notepad"] afx-vbox[data-id="bottom-vbox"]{
    background-color: #dfdfdf;
}
afx-app-window[data-id="notepad"] .afx-window-content {
    background-color: #f6F6F6;
}

afx-tab-bar[data-id="tabarea"] afx-list-view >  div.list-container > ul > li {
    background-color: #dfdfdf;
    color:#272822;
    border: 0;
    border-top: 1px solid #a6a6a6;
    border-right: 1px solid #a6a6a6;
    border-radius: 0;
}
afx-tab-bar[data-id="tabarea"] afx-list-view{
    padding:0;
    margin: 0;
    border-left: 0;
    border-bottom: 1px solid #a6a6a6;
}
/*afx-tab-bar[data-id="tabarea"] afx-list-view i.closable:before{
    color: white;
}*/
afx-tab-bar[data-id="tabarea"] afx-list-view  > div.list-container > ul > li.selected {
    background-color: #f6F6F6;
    border-radius: 0;
}

afx-app-window[data-id="win-remote-run"] div[data-id="output"] p{
    margin:0;
    padding:0;
    font-family: "HermitLight";
    text-align: left;
}
afx-app-window[data-id="win-remote-run"] div[data-id="output"]{
    background-color: #2f3129;
    padding: 10px;
    color:white;
    overflow: auto;
}
afx-app-window[data-id="win-remote-run"] div[data-id="stat"]{
    background-color: #2f3129;
    padding: 5px;
    color:white;
    font-weight: bold;
    font-size: 10px;
}
afx-app-window[data-id="win-remote-run"] afx-resizer{
    border-top: 1px solid #a6a6a6;
    background-color: #2f3129;
    border-right: 0;
}
afx-app-window[data-id="win-remote-run"] afx-hbox[data-id="bottom-vbox"] {
    background-color:#2f3129;
}
afx-app-window[data-id="win-remote-run"] afx-hbox[data-id="bottom-vbox"] afx-button button{
    background-color:#2f3129;
    color:white;
    border:0;
    border-radius: 0;
}