afx-button button{
    outline: none;
    min-height: 35px;
    min-width: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

afx-button i.icon-style {
    float: left;
}

afx-button afx-label i.icon-style {
    width: 30px;
    height: 30px;
    display: inline-block;
}