afx-tab-bar {
    display: block;
    width: 100%;
    
}
afx-tab-bar afx-list-view {
    padding:0;
    margin:0;
}
afx-tab-bar afx-list-view > div.list-container > ul .afx-list-item:nth-child(even) li,
afx-tab-bar afx-list-view > div.list-container > ul li
{
    background-color: transparent;

    padding-left: 10px;
    padding-right: 10px;
}

afx-tab-bar[dir="vertical"] afx-list-view > div.list-container
{
    overflow: hidden;
}

afx-tab-bar[dir="horizontal"] afx-list-view > div.list-container
{
    overflow: hidden;
}

afx-tab-bar afx-list-view > div.list-container > ul li afx-label i.label-text
{
    white-space: nowrap;
}