afx-app-window {
    outline: none;
}
afx-app-window div.afx-window-wrapper{
    padding:0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

afx-app-window ul.afx-window-top{
    margin: 0;
    padding: 0;
    width: 100%;
    padding:0;
    display: flex;
    flex-direction: row;
    height: 40px;
}

afx-app-window ul.loading::before{
    background-color: orangered;
    content: "";
    position: absolute;
    height: 2px;
    width: 0%;
}

afx-app-window ul.loading::before {
    right: 0;
    top:0;
    animation: sys-loading 1s linear infinite;
}

afx-app-window ul.afx-window-top li{
    list-style: none;
}
afx-app-window ul li.afx-window-title{
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

afx-app-window div.afx-window-content
{
    overflow: hidden;
    width: 100%;
    flex-grow: 1;
}
afx-app-window div.afx-window-grip{
    height: 10px;
    width: 10px;
    user-select:none;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: nwse-resize;
    background-color: transparent;
}

afx-app-window div.afx-window-grip-bottom{
    height: 3px;
    user-select:none;
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 10px;
    cursor: ns-resize;
    background-color: transparent;
}

afx-app-window div.afx-window-grip-right{
    width: 3px;
    user-select:none;
    position: absolute;
    bottom: 10px;
    right: -1px;
    top: 0;
    cursor: ew-resize;
    background-color: transparent;
}
afx-app-window div.afx-window-overlay {
    background-color: transparent;
    display: none;
    position: absolute;
    left: 0;
    bottom: 5px;
    right: 5px;
    top: 42px;
}

afx-app-window div.afx-window-wrapper > afx-stack-menu.context {
    top: 42px;
    left: 5px;
}

afx-app-window ul.afx-window-top afx-button button{
    width: 40px;
    height: 40px;
    font-size: 22px;
    margin-bottom: 0;
    padding:0px;
    background-color: transparent;
    border:0;
    border-radius: 0;
}
afx-app-window ul.afx-window-top afx-button afx-label i.icon-style{
    width: 24px;
    height: 24px;
    margin-left: 2px;
    margin-bottom: 0px;
    border:0;
}