afx-slider{
    display: flex;
    align-items: center;
    justify-content: center;
}
afx-slider div.container{
    display: block;
    border:0;
    position: relative;
    padding:0;
    cursor: pointer;
    height: 10px;
}

afx-slider div.progress {
    padding:0;
    margin: 0;
    display: block;
    border:0;
}

afx-slider div.dragpoint {
    height: 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
}
