afx-calendar-view afx-grid-view afx-grid-row:nth-child(even) afx-grid-cell
{
    background-color: transparent;
}
afx-calendar-view afx-grid-view .grid_row_header afx-grid-cell{
    border-right: 0;
}
afx-calendar-view afx-label {
    flex-direction: row;
    justify-content: center;
}

afx-calendar-view > div {
    display: flex;
    flex-direction: row;
}
afx-calendar-view > div > afx-label 
{
    flex:1;
}