afx-grid-view afx-grid-row afx-grid-cell{
    user-select:none;
    -webkit-user-select:none;
    cursor:default;
    min-height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

afx-grid-view .grid_row_header afx-grid-cell{
    user-select:none;
    -webkit-user-select:none;
    cursor:default;
    font-weight: bold;
    min-height: 25px;
    display: flex;
    padding: 5px;
    flex-direction: column;
    justify-content: center;
}

afx-grid-view {
    display: block;
}

afx-grid-view afx-grid-cell afx-label {
    display: flex;
}

afx-grid-view .grid_row_header afx-grid-cell[sort = "asc"] span::before
{
    content: "\F574"; 
    font-family: "bootstrap-icons";
    font-weight: normal;
    font-style: normal;
}

afx-grid-view .grid_row_header afx-grid-cell[sort = "desc"] span::before
{
    content: "\F57B"; 
    font-family: "bootstrap-icons";
    font-weight: normal;
    font-style: normal;
}