afx-apps-dock{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    -webkit-user-select:none;
}
afx-apps-dock afx-button button{
    width: 40px;
    height: 35px;
    font-size: 22px;
    margin-bottom: 0;
    padding:0px;
    background-color: transparent;
    border:0;
    border-radius: 0;
}
afx-apps-dock afx-button afx-label i.icon-style{
    width: 26px;
    height: 26px;
    margin-left: 2px;
    margin-bottom: 0px;
    border:0;
}