afx-label  i.icon-style {
    display: inline-block;
}
afx-label span {
    align-items:  center;
    justify-content: center;
    flex-direction: row;
    height: 100%;
}
afx-label  i.label-text{
    margin-left: 3px;
}

afx-label i{
    font-weight: normal;
    font-style: normal;
}