afx-overlay[data-id = "notifyzone"]{
    background-color: rgba(215,215,215,0.7);
    
    overflow-y: auto;
    overflow-x: hidden;
    padding:3px;
    margin: 0;
}
afx-overlay[data-id = "notifyzone"] afx-button button{
    width: 250px;
    background-color: rgba(215,215,215,0.9);
}
afx-overlay[data-id = "notifyzone"] afx-button button:active{
    color:#414339;
}
afx-list-view[data-id = "notifylist"]
{
    padding:0;
}
afx-list-view[data-id = "notifylist"] li{
    border:1px solid #a6a6a6;
    border-radius: 6px;
    margin-bottom: 2px;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
}

afx-overlay[data-id = "feedzone"]{
    overflow: hidden;
    background-color:transparent;
    right:5px;
    margin: 0;
    padding:0;
    top:0;
}
afx-list-view[data-id = "notifeed"]
{
    padding:0;
    margin:0;
}
afx-list-view[data-id = "notifeed"] li{
    box-shadow: 1px 1px 1px #9f9F9F;
    border:1px solid #a6a6a6;
    border-radius: 6px;
    margin-bottom: 2px;
    z-index: 99999;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
}

afx-app-window[data-id = "spotlight-win"] .afx-window-wrapper{
    background-color: white;
    border-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

afx-app-window[data-id = "spotlight-win"] .afx-window-top{
    height: 0;
    border:0;
}
afx-app-window[data-id = "spotlight-win"] input{
    border:0;
    font-size: 25px;
    color:#afafaf;
    height: 45px;
}
afx-app-window[data-id = "spotlight-win"] div[data-id="searchicon"]:before{
    content: "\f002";
    padding-top:5px;
    padding-left: 10px;
    display: block;
    background-color: #F6F6F6;
    color:#afafaf;
    width:40px;
    height: 40px;
    font-family: "FontAwesome";
    font-size: 30px;
}
afx-app-window[data-id = "spotlight-win"] .afx-window-content{
    border-radius: 10px;
}
afx-app-window[data-id = "spotlight-win"]  afx-list-view[data-id="container"]{
    border-top:1px solid #cacaca;
}

afx-app-window[data-id = "spotlight-win"] afx-resizer{
    background-color: transparent;
    border-left: 1px solid #cacaca;
}