
afx-tab-bar afx-list-view > div.list-container > ul > afx-list-item > li.selected
{
    background-color: #116cd6;
    color:white;
}

afx-tab-bar afx-list-view  > div.list-container > ul  li{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-bottom: 2px;
    padding-right:15px;
    padding-top:2px;
    border:1px solid #c3c3c3;
}