afx-grid-view afx-grid-row:nth-child(even) afx-grid-cell
{
    background-color: #f5F5F5;
}
afx-grid-view afx-grid-row:nth-child(odd) afx-grid-cell
{
    background-color: #E6E6E6;
}
afx-grid-view afx-grid-row.afx-grid-row-selected afx-grid-cell
{
    background-color: #116cd6;
    color:white;
}
afx-grid-view afx-grid-row.afx-grid-row-selected afx-grid-cell.afx-grid-cell-selected
{
    font-weight: bold;
}


afx-grid-view .grid_row_header afx-grid-cell{
    border: 0;
}

afx-grid-view afx-grid-row.grid_row_header div{
    border-top:1px solid #A6A6A6;
}

afx-grid-view afx-resizer.horizontal{
    background-color: transparent;
    border-left: 1px solid #a6a6a6;
    border-right: 1px solid #a6a6a6;
    /* border-left: 1px solid #cbcbcb; */
}

afx-grid-view .grid_row_header afx-grid-cell{
    background-color: #dfdfdf;
    border-top: 1px solid #a6a6a6;
    /*border-right: 1px solid #a6a6a6;*/
    border-bottom: 1px solid #a6a6a6;
}