afx-list-view  > div.list-container > ul  li{
    background-color: white;
}
afx-list-view > div.list-container > ul .afx-list-item:nth-child(even) li{
    background-color:#f5F5F5;
}

afx-list-view  i.closable:before{
    color: #414339;
}
afx-list-view.dropdown > div.list-container > ul  li:hover{
    background-color: #dcdcdc;
    color: #414339;
}
afx-list-view > div.list-container > ul >  .afx-list-item li.selected{
    background-color: #116cd6;
    color:white;
}

afx-list-view.dropdown > div.list-container > ul{
    border:1px solid #a6a6a6;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.65);
    border-radius: 3px;
    background-color: white;
    border-top-left-radius: 0px;
}

afx-list-view.dropdown{
    color: #414339;
    background-color: transparent;
}
afx-list-view.dropdown div.list-container > div > afx-label
{
    border:1px solid #a6a6a6;
    border-radius: 3px;
}
afx-list-view ul.complex-content{
    padding: 0;
    margin: 0;
    background-color: transparent;
}
afx-list-view ul.complex-content li{
    padding:0;
    background-color: transparent;
    color:#5e5f59;
    list-style: none;
}
afx-list-view  > div.list-container > ul  li.selected ul.complex-content li{
    color:white;
}


afx-list-view  div.button_container afx-button{
    margin-right: 2px;
}
afx-list-view  div.button_container afx-button button{
    border-radius: 0;
}
afx-list-view .afx-list-item li afx-label.description i.label-text
{
    font-size: 13px;
    padding-left: 10px;
}