afx-resizer.vertical {
    background-color: transparent;
    border-top: 1px solid #cbcbcb;
}
afx-resizer.horizontal {
    background-color: transparent;
    border-left: 1px solid #cbcbcb;
}
afx-resizer.horizontal:hover, afx-resizer.vertical:hover
{
    background-color: #116cd6;
}