afx-sys-panel > div{
     background-color: #e7e7e7;
     border-top: 1px solid #9c9C9C;
     box-shadow:none;
 }
afx-sys-panel .afx-panel-os-menu button
{
    background-color: #e7414d;
    border-radius: 0;
    border: 0;
    color: white;
}

afx-sys-panel .afx-panel-os-menu button .label-text
{
    font-weight: bold;
}

afx-sys-panel .afx-panel-os-menu {
    color: white;
}

afx-sys-panel afx-menu.afx-panel-os-stray afx-menu  {
    left: calc(100% - 170px);
}

afx-sys-panel afx-menu.afx-panel-os-stray afx-menu li.afx_submenu a{
    margin-left: 10px;
}

afx-sys-panel afx-menu.afx-panel-os-stray afx-menu li.afx_submenu:before {
    content: "\f054"; 
    font-family: "FontAwesome";
    font-size: 10px;
    position:absolute;
    text-align: left;
    left:5px;
    top:25%;
 }
afx-sys-panel afx-menu.afx-panel-os-stray afx-menu ul{
    border:1px solid #a6a6a6;
    border-radius: 5px;
    border-top-right-radius: 0px;
}
afx-sys-panel afx-menu.afx-panel-os-stray afx-menu li{
    min-width: 150px;
}

afx-sys-panel afx-overlay
{
    background-color: #e7e7e7;
    border: 1px solid #9c9C9C;
}
afx-sys-panel afx-list-view[data-id="applist"],
afx-sys-panel afx-tab-bar[data-id="catlist"]
{
    border-top: 1px solid #afafaf;
}
afx-sys-panel afx-list-view[data-id="applist"] > div.list-container > ul li
{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: transparent;
}

afx-sys-panel afx-hbox[data-id="btlist"]  afx-button button
{
    border: 0;
    border-left: 1px solid #afafaf;
    border-top: 1px solid #afafaf;
    font-size: 24px;
}

afx-sys-panel afx-list-view[data-id="applist"] > div.list-container > ul .afx-list-item li:hover
{
    background-color: #cecece;
    border-radius: 10px;
}
afx-sys-panel afx-list-view[data-id="applist"] > div.list-container > ul .afx-list-item li.selected{
    background-color: #116cd6;
    color:white;
}


afx-sys-panel afx-tab-bar[data-id="catlist"] .afx-list-view i.label-text {
    font-weight: bold;
}

afx-sys-panel afx-list-view[data-id="applist"] afx-label.search-header {
    font-weight: bold;
}

afx-sys-panel div[data-id="searchicon"]:before{
    content: "\f002";
    display: block;
    background-color:transparent;
    color:#afafaf;
    font-family: "FontAwesome";
    padding-left:3px;
    font-size: 25px;
}
afx-sys-panel input{
    border:0;
    height: 30px;
    color:#afafaf;
    font-size: 16px;
    background-color: transparent;
}