afx-nspinner ul li{
    border: 1px solid #a6a6a6;
}

afx-nspinner ul li.incr{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}


afx-nspinner ul li.decr{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

afx-nspinner ul li:hover{
    color:#116cD6;
}
