
afx-tab-bar[dir="horizontal"] afx-list-view > div.list-container > ul > afx-list-item > li.selected
{
    background-color: #116cd6;
    color:white;
    border-bottom:1px solid #c3c3c3;
}

afx-tab-bar[dir="vertical"] afx-list-view > div.list-container > ul > afx-list-item > li.selected
{
    background-color: #116cd6;
    color:white;
    border-right:1px solid #c3c3c3;
}