afx-app-window div.afx-window-wrapper{
    border:1px solid #a6a6a6;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.65);
    border-radius: 0;
    background-color:#dfdfdf;
}
afx-app-window.unactive > div.afx-window-wrapper{
    /*background-color: #f6f6f6;*/
    box-shadow: none;
}

afx-app-window ul.afx-window-top{
    border-bottom: 1px solid #a6a6a6;
}
/*
afx-app-window ul li.afx-window-close{
    background-color: #Fc605b;
    margin-right: 10px;
}
afx-app-window ul li.afx-window-minimize{
    background-color: #fec041;
}
afx-app-window ul li.afx-window-maximize{
    background-color: #35cc4b;
}
*/

afx-app-window ul li.afx-window-title{
    text-align: left;
}

afx-app-window div.afx-window-content
{
    background-color: white;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
/*
afx-app-window.unactive div.afx-window-content
{
    background-color:white;
}*/
afx-app-window ul.afx-window-top button:hover
{
    background-color: #2786F3;
    color: white;
}