afx-input afx-label
{
    font-size: 13px;
    color: #116cd6;
    background-color: #f6f6f6;
}

afx-input input,
afx-input textarea
{
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #a6a6a6;
    background-color: #f6f6f6;
}
afx-input input:focus,
afx-input textarea:focus
{
    border-bottom: 1px solid #116cd6;
}