html,body{
    font-family: "Ubuntu";
    color:#414339;
}

#desktop > div > ul afx-list-item {
    color: white;
}

#desktop > div > ul afx-list-item li.selected {
    background-color: #116cd6;
    border-radius: 6px;
    color: white;
}

#desktop > div > ul afx-list-item i.file:before{
    content: "\f15b\a"; 
    font-family: "FontAwesome";
    font-size: 32px;
    display: block;
    color: white;
    font-style: normal;
    font-weight: normal;
}

#desktop > div > ul afx-list-item i.dir:before{
    display: block;
    content: "\f07b\a"; 
    font-family: "FontAwesome";
    font-size: 32px;
    color: #76D2F9;
    font-weight: normal;
    font-style: normal;
}

#systooltip {
    border:1px solid #a6a6a6;
    border-radius: 3px;
    padding-left:3px;
    padding-right:3px;
    box-shadow: 1px 1px 1px #9f9F9F;
    background-color: #e7e7e7;
}

input {
    outline: none;
    padding: 2px;
    height:23px;
    border: 1px solid #a6a6a6;
    background-color: #f6F6F6;
    color: #414339;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "Ubuntu";
    font-size: 13px;
}
textarea {
    color: #414339;
    background-color: #f6F6F6;
    outline: none;
    border: 1px solid #a6a6a6;
    box-sizing: border-box;
}