:root {
    --antos-ant-color: #8685EF;

    --text-primary: #414339;
    --text-secondary: #5F548E; /*alternative to primary*/
    --text-tertiary: white; /*usually for highlight text*/
    --text-disable: #a6a6a6;
    --text-warning: orangered;
    --text-error: #df3154;
    --text-info: green;

    --background-primary: #d0d0d0; /*main window*/
    --background-secondary: #dfdfdf; /*main content*/
    --background-tertiary: #e0e0e0; /* element content*/
    --background-quaternary: #d2d2d2; /* highlight content element*/
    --background-overlay: rgba(231,231,231,0.7); /*default overlay*/

    --icon-primary: #414339;
    --icon-secondary: #414339;
    --icon-tertiary:  #76D2F9; /*#5F548E;*/

    --item-bg-odd: #E6E6E6;
    --item-bg-even: #f5F5F5;
    --item-bg-active: #8685EF;/*#116cd6*/
    --item-bg-hover: #C8C2E7;

    --border-primary:#a6a6a6;
    --border-secondary: #a6a6a6;
    --border-tertiary: #5F548E;
    --border-quaternary: #A6A6A6;

    --shadow-primary: rgba(0,0,0,0.65);
}