afx-calendar-view  div{
    text-align: center;
}

afx-calendar-view > div afx-label i{
    font-weight: bold;
}


afx-calendar-view afx-grid-view afx-grid-row.afx-grid-row-selected afx-grid-cell
{
    background-color: transparent;
}
afx-calendar-view afx-grid-view  afx-grid-row.afx-grid-row-selected afx-grid-cell
{
    color:var(--text-primary);
}
afx-calendar-view afx-grid-view  afx-grid-row.afx-grid-row-selected afx-grid-cell.afx-grid-cell-selected
{
    background-color: var(--item-bg-active);
    color:var(--text-tertiary);
    border-radius: 6px;
}

