
afx-slider div.container{
    border-radius: 3px;
    background-color: var(--background-quaternary);
}

afx-slider div.progress {
    background-color: var(--item-bg-active);
    border-radius: 3px;
}

afx-slider div.dragpoint {
    border:1px solid var(--border-primary);
    background-color:var(--background-quaternary);
}

afx-slider div.dragpoint::before
{
    content: "\f0d7";
    font-family: "FontAwesome";
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    color:var(--text-disable);
    bottom: -15px;
    display: block;
    height: 20px;
}
