afx-toast-notification div[data-id="toast_container"] div[data-id="toast_header"]::before
{
    font-family: "bootstrap-icons";
    content: "\F62A";
    font-size: 20px;
}

afx-toast-notification div[data-id="toast_container"] div[data-id="toast_header"]:hover
{
    color: var(--text-warning);
}

afx-toast-notification div[data-id="toast_container"]
{
    box-shadow: 0px 3px 6px 0px var(--shadow-primary);
    border:1px solid var(--border-primary);
    background-color:var(--item-bg-even);
    border-radius: 6px;
}
