afx-list-view > div.list-container > ul afx-stack-menu-item.afx-list-item li:hover  {
    background-color: var(--item-bg-hover);
}

afx-list-view > div.list-container > ul afx-stack-menu-item.afx-list-item li.selected afx-switch span:before
{
    color:var(--text-tertiary);
}


afx-list-view > div.list-container > ul > afx-stack-menu-item.afx-list-item > li.selected{
    background-color: var(--item-bg-active);
    color:var(--text-tertiary);
}

afx-stack-menu > afx-button button
{
    border-radius: 0;
}
afx-stack-menu.context {
    border:1px solid var(--border-primary);
    border-radius: 5px;
    border-top-left-radius: 0px;
    box-shadow: 0px 3px 6px 0px var(--shadow-primary);
    background-color: var(--background-secondary);
}