afx-input afx-label
{
    font-size: 13px;
    color: var(--text-secondary);
    background-color: var(--background-tertiary);
}

afx-input input,
afx-input textarea
{
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid var(--border-primary);
    background-color: var(--background-tertiary);;
}
afx-input input:focus,
afx-input textarea:focus
{
    border-bottom: 1px solid var(--border-tertiary);
}