afx-sys-panel > div{
     background-color: var(--background-secondary);
     border-top: 1px solid var(--border-primary);
     box-shadow: none;
 }

afx-sys-panel .afx-panel-os-menu button
{
    background-color: var(--antos-ant-color);
    border-radius: 0;
    border: 0;
}

afx-sys-panel .afx-panel-os-menu button .label-text
{
    font-weight: bold;
}

afx-sys-panel .afx-panel-os-menu {
    color: var(--text-primary);
}

afx-sys-panel .afx-panel-os-stray button{
    border-radius: 0;
    border: 0;
}
afx-sys-panel afx-overlay
{
    background-color: var(--background-secondary);
    border: 1px solid var(--border-primary);
}
afx-sys-panel afx-list-view[data-id="applist"],
afx-sys-panel afx-tab-bar[data-id="catlist"]
{
    border-top: 1px solid var(--border-primary);
}
afx-sys-panel afx-list-view[data-id="applist"] > div.list-container > ul li
{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: transparent;
}

afx-sys-panel afx-hbox[data-id="btlist"]  afx-button button
{
    border: 0;
    border-left: 1px solid var(--border-primary);
    border-top: 1px solid var(--border-primary);
    font-size: 24px;
}

afx-sys-panel afx-list-view[data-id="applist"] > div.list-container > ul .afx-list-item li:hover,
afx-sys-panel afx-list-view[data-id="applist"] > div.list-container > ul .listview_nav_focus > li
{
    background-color: var(--antos-ant-color)/*#cecece*/;
    color: var(--text-tertiary);
    border-radius: 10px;
}
afx-sys-panel afx-list-view[data-id="applist"] > div.list-container > ul .afx-list-item li.selected
{
    background-color: var(--item-bg-active);
    color:var(--text-tertiary);
}

afx-sys-panel afx-tab-bar[data-id="catlist"] .afx-list-view i.label-text {
    font-weight: bold;
}

afx-sys-panel afx-list-view[data-id="applist"] afx-label.search-header {
    font-weight: bold;

}

afx-sys-panel div[data-id="searchicon"]:before{
    content: "\f002";
    display: block;
    background-color:transparent;
    color:var(--text-disable);
    font-family: "FontAwesome";
    padding-left:3px;
    font-size: 25px;
}
afx-sys-panel input{
    border:0;
    height: 30px;
    color:var(--text-disable);
    font-size: 16px;
    background-color: transparent;
}