
afx-app-window[data-id = "setting-window"] afx-label.header i.label-text{
    font-weight: bold;
}
/*APPEARANCE*/
afx-app-window[data-id = "setting-window"] afx-hbox[data-id="appearance"] div[data-id = "wp-preview"]{
    display: block;
    border:1px solid var(--border-quaternary);
    border-radius: 10px;
}

afx-app-window[data-id = "setting-window"] afx-hbox[data-id="appearance"] afx-list-view[data-id="wplist"]
{
    border:1px solid var(--border-quaternary);
}
afx-app-window[data-id = "setting-window"] afx-hbox[data-id="appearance"] afx-resizer{
    border:0;
    background-color: transparent;
}
/*VFS*/
afx-app-window[data-id = "setting-window"] afx-hbox[data-id="vfs"] afx-list-view[data-id="mplist"]
{
    border: 1px solid var(--border-quaternary);
}

afx-app-window[data-id = "setting-window"] afx-hbox[data-id="vfs"] afx-button.btnsel button{
    border-radius: 0;
    padding-top:2px;
    padding-bottom: 2px;
}
/*LANGUAGES*/
afx-app-window[data-id = "setting-window"] afx-hbox[data-id="locale"] afx-list-view[data-id="lglist"]
{
    border: 1px solid var(--border-quaternary);
}
/*STARTUP*/
afx-app-window[data-id = "setting-window"] afx-hbox[data-id="startup"] afx-list-view
{
    border: 1px solid var(--border-quaternary);
}

afx-app-window[data-id = "setting-window"] afx-hbox[data-id="app-services"] afx-list-view
{
    border: 1px solid var(--border-quaternary);
}

afx-app-window[data-id = "setting-window"] afx-hbox[data-id="app-about"] afx-grid-view
{
    border: 1px solid var(--border-quaternary);
}