afx-apps-dock{
    bottom: 3px;
    top: 3px;
    width: 32px;
    background-color:#e7e7e7;
    padding:2px;
    padding-top: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border:1px solid #a6a6a6;
    box-shadow: 1px 1px 1px #9f9F9F;
}
afx-apps-dock afx-button button{
    width: 32px;
    height: 32px;
    font-size: 19px;
    margin-bottom: 3px;
    padding:0px;
    background-color: transparent;
    border:0;
}
afx-apps-dock afx-button afx-label i.icon-style{
    width: 24px;
    height: 24px;
    margin-left: 2px;
    margin-bottom: 0px;
    border:0;
}

afx-apps-dock afx-button.selected > button {
    background-color: #2786F3;
    color: white;
    border: 1px solid #dedede;
}