afx-list-view{
    overflow:hidden;
    /*padding: 5px;*/
    display: block;
}
/*
afx-list-view div.list-container{
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    background-color: red;
}*/
afx-list-view afx-list-item
{
    display: contents;
}
afx-list-view > div.list-container{
    overflow: auto;
}
afx-list-view > div.list-container >  ul{
    margin:0;
    padding: 0;
}

afx-list-view  > div.list-container > ul  li{
    margin:0;
    padding:0;
    list-style: none;
    padding: 5px;
    padding-top:3px;
    padding-bottom: 3px;
    padding-right: 10px;
    color: #414339;
    background-color: white;
    position: relative;
    -webkit-user-select:none;
    cursor:default;
}
afx-list-view > div.list-container > ul afx-list-item:nth-child(even) li,
afx-list-view > div.list-container > ul li:nth-child(even){
    background-color:#f5F5F5;
}
afx-list-view  i.closable{
    width: 16px;
    height: 16px;
    display: inline-block;
    position:absolute;
    top:0px;
    right:2px;
    cursor: pointer;
}
afx-list-view  i.closable:before{
    content: "\f00d"; 
    font-family: "FontAwesome";
    font-size: 10px;
    margin-left: 10px;
    color: #414339;
    font-style: normal;
}

afx-list-view  > div.list-container > ul  li > i {
    margin-right: 3px;
    
}
afx-list-view > div.list-container > ul > afx-list-item > li.selected,
afx-list-view  > div.list-container > ul  li.selected {
    background-color: #116cd6;
    color:white;
}

/*
afx-list-view.dropdown div.list-container{
    position: relative;
    display: inline-block;
}

afx-list-view.dropdown div.list-container ul{
    position:absolute;
    top:100%;
    left:0;
    display: none;
    border:1px solid red;
}*/

afx-list-view.dropdown {
    padding:0;
    margin: 0;
}
afx-list-view.dropdown > div.list-container{
    overflow: visible;
}
afx-list-view.dropdown > div.list-container > ul{
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
}
afx-list-view.dropdown > div.list-container > ul{
    border:1px solid #a6a6a6;
    box-shadow: 1px 1px 1px #9f9F9F;
    border-radius: 3px;
    /*padding:2px;*/
    border-top-left-radius: 0px;
    z-index: 10;
}
afx-list-view.dropdown > div.list-container > ul  li{
    display: inline-block;
    width:100%;
}

afx-list-view.dropdown div.list-container div{
    color: #414339;
    padding-top:3px;
    padding-bottom: 3px;
    border:1px solid #a6a6a6;
    border-radius: 3px;
    background-color: white;
    height: 17px;
}
afx-list-view.dropdown div.list-container div > afx-label{
    padding-left:3px;
}
afx-list-view.dropdown div.list-container div:before {
    content: "\f107"; 
    font-family: "FontAwesome";
    font-size: 11px;
    font-style: normal;
    color: #414339;
    position: absolute;
    top:25%;
    right: 5px;
 }
afx-list-view.dropdown > div.list-container > ul  li:hover{
    background-color: #dcdcdc;
    color: #414339;
}
afx-list-view ul.complex-content{
    padding: 0;
    margin: 0;
    background-color: transparent;
}
afx-list-view ul.complex-content li{
    padding:0;
    background-color: transparent;
    color:#5e5f59;
    list-style: none;
}
afx-list-view  > div.list-container > ul  li.selected ul.complex-content li{
    color:white;
}
/*
afx-list-view  div.button_container {
    padding-top:2px;
    border-top:1px solid #cbcbcb;
}
*/
afx-list-view  div.button_container afx-button{
    margin-right: 2px;
}
afx-list-view  div.button_container afx-button button{
    border-radius: 0;
    padding-left:5px;
    padding-top:1px;
    padding-bottom: 1px;
    padding-right: 5px;

}
