afx-grid-view afx-grid-row div{
    padding:3px;
    padding-left: 5px;
    padding-right: 5px;
    user-select:none;
    -webkit-user-select:none;
    cursor:default;
}

afx-grid-view afx-grid-row:nth-child(even){
    background-color: #f5F5F5;
}

afx-grid-view afx-grid-row.grid_row_header div{
    border-right: 2px solid #e5e5e5;
    user-select:none;
    -webkit-user-select:none;
    cursor:default;
}
afx-grid-view afx-grid-row.selected {
    background-color: #116cd6;
    color:white;
}
afx-grid-view afx-grid-row.grid_row_header {
    font-weight: bold;
    border: 1px solid #e5e5e5;
     border-right:0;
}