
afx-sys-panel{
    padding:0;
    margin: 0;
}
afx-sys-panel > div{
     width: 100%;
     height: 23px;
     margin:0;
     padding: 0;
     background-color: #e7e7e7;
     border-bottom: 1px solid #9c9C9C;
     box-shadow: 1px 1px 1px #9F9F9F;
     position:absolute;
 }
afx-sys-panel .afx-panel-os-menu {
    padding:0;
    margin: 0;
    float:left;
}
afx-sys-panel .afx-panel-os-menu li
{
    font-weight: bold;
    background-color: #e7414d;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}
afx-sys-panel .afx-panel-os-menu a {
    color: white;
}
afx-sys-panel .afx-panel-os-stray{
    float:right;
    position: relative;
}

afx-sys-panel afx-menu.afx-panel-os-stray afx-menu  {
    right: 0;
    left: calc(100% - 170px);
    position: absolute;
    
}


afx-sys-panel afx-menu.afx-panel-os-stray afx-menu li.afx_submenu a{
    margin-left: 10px;
}
afx-sys-panel afx-menu.afx-panel-os-stray afx-menu li.afx_submenu:before {
    content: "\f054"; 
    font-family: "FontAwesome";
    font-size: 10px;
    color: #414339;
    position:absolute;
    text-align: left;
    left:5px;
    top:25%;
 }
afx-sys-panel afx-menu.afx-panel-os-stray afx-menu  afx-menu{
    left: -100%;
    right: 100%;
    top:-4px;
}
afx-sys-panel afx-menu.afx-panel-os-stray afx-menu ul{
    border:1px solid #a6a6a6;
    border-radius: 5px;
    border-top-right-radius: 0px;
}
afx-sys-panel afx-menu.afx-panel-os-stray afx-menu li{
    min-width: 150px;
}

afx-sys-panel afx-overlay
{
    background-color: #e7e7e7;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #9c9C9C;
    width: 250px;
    margin: 0;
}
afx-sys-panel afx-list-view[data-id="applist"]
{
    border-top: 1px solid #afafaf;
    border-bottom: 1px solid #afafaf;
}

afx-sys-panel afx-list-view[data-id="applist"] > div.list-container > ul li
{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: transparent;
    color: #414339;
}

afx-sys-panel afx-hbox[data-id="btlist"]  afx-button button
{
    width: 100%;
    height: 100%;
    border-radius: 0;
    border: 0px;
    border-left: 1px solid #afafaf;
}

afx-sys-panel afx-list-view[data-id="applist"] > div.list-container > ul li:hover,
afx-sys-panel afx-list-view[data-id="applist"] > div.list-container > ul li.selected
{
    background-color: #116cd6;
    color:white;
}

afx-sys-panel afx-list-view[data-id="applist"] afx-label.search-header {
    font-weight: bold;

}
afx-sys-panel afx-list-view[data-id="applist"] afx-label  i,
afx-sys-panel afx-list-view[data-id="applist"] afx-label  i::before {
    margin-right: 10px;
}

afx-sys-panel div[data-id="searchicon"]:before{
    content: "\f002";
    display: block;
    background-color:transparent;
    color:#afafaf;
    font-family: "FontAwesome";
    padding-left:3px;
    font-size: 25px;
}
afx-sys-panel input{
    border:0;
    height: 25px;
    color:#afafaf;
    background-color: transparent;
}