afx-tree-view{
    color: #414339;
    padding:3px;
    overflow: auto;
    display: block;
}
afx-tree-view afx-tree-view{
    padding:0;
    overflow: hidden;
}
afx-tree-view ul{
    margin:0;
    padding:0;
}
afx-tree-view li{
    list-style: none;
    margin:0;
    padding: 0;
}
afx-tree-view div{
    padding:3px;
    background-color: white;
}
afx-tree-view i.icon-style {
    width: 16px;
    height: 16px;
    display: inline-block;
    float:left;
    margin-right: 3px;
}
afx-tree-view div.afx_tree_item_selected{
    background-color: #116cd6;
    color:white;
}
afx-tree-view div.afx_tree_item_selected:hover{
    background-color: #116cd6;
    color:white;
}
/*
afx-tree-view div:hover{
    background-color: #f5F5F5;
    color: #414339;
}*/
afx-tree-view .afx_folder_item{
    font-weight: bold;
}
afx-tree-view .afx-tree-view-folder-open:before{
    content: "\f147"; 
    font-family: "FontAwesome";
    font-size: 13px;
}
afx-tree-view .afx-tree-view-folder-close:before{
    content: "\f196"; 
    font-family: "FontAwesome";
    font-size: 13px;   
}

afx-tree-view .afx_tree_item_odd{
    background-color: #f5F5F5;
}