afx-nspinner{
    display: flex;
    flex-direction: row;
}
afx-nspinner ul{
    padding:0;
    margin: 0;
    list-style: none;
}
afx-nspinner input{
    margin: 0;
}
afx-nspinner ul li{
    display: block;
    border: 1px solid #a6a6a6;
    width: 100%;
    padding:0;
    margin: 0;
    color: #414339;
}

afx-nspinner ul li.incr{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}


afx-nspinner ul li.decr{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

afx-nspinner ul li:hover{
    color:#116cD6;
}
afx-nspinner ul li.incr i:before{
    content: "\f0d8"; 
    font-family: "FontAwesome";
    font-size: 16px;
    font-style: normal;

}
afx-nspinner ul li.decr i:before{
    content: "\f0d7"; 
    font-family: "FontAwesome";
    font-size: 16px;
    font-style: normal;

}