afx-file-view {
    position: relative;
}
afx-file-view afx-label.status{
    position: absolute;
    bottom: 1px;
    left:0px;
    padding:3px;
    right: 0px;
    height: 15px;
    background-color: #f6F6F6;
    border-top: 1px solid #cbcbcb;
    color:#414339;
    transform: translateZ(0);
}
afx-file-view afx-list-view > div.list-container > ul  li{
    float:left;
    display: block;
    width:70px;
    height: 60px;
    background-color: transparent;
    text-align: center;
    padding:3px;
    margin-right: 5px;
    margin-bottom: 5px;
}
afx-file-view afx-list-view > div.list-container > ul afx-list-item:nth-child(even) li {
    background-color: transparent;
}
afx-file-view afx-list-view i.dir:before{
    content: "\f07b"; 
    font-family: "FontAwesome";
    font-size: 32px;
    color: #76D2F9;
    font-weight: normal;
    font-style: normal;
}
afx-file-view afx-list-view i{
    width: 32px;
    height: 32px;
    display: block;
    margin-left: 19px;
}


afx-file-view afx-list-view i.file:before{
    content: "\f016"; 
    font-family: "FontAwesome";
    font-size: 28px;
    color: #414339;
    font-style: normal;
    font-weight: normal;
}

afx-file-view afx-list-view > div.list-container > ul > afx-list-item > li.selected, afx-file-view afx-list-view div.list-container > ul  li.selected  i:before {
    background-color: #116cd6;
    color:white;
    border-radius: 6px;
}
afx-file-view afx-grid-view{
    padding:0;
}
afx-file-view afx-grid-view i.file:before{
    content: "\f016"; 
    font-family: "FontAwesome";
    font-size: 16px;
    color: #414339;
    font-style: normal;
    font-weight: normal;
}
afx-file-view afx-grid-view i.dir:before{
    content: "\f07b"; 
    font-family: "FontAwesome";
    font-size: 16px;
    color: #76D2F9;
    font-style: normal;
    font-weight: normal;
}
afx-file-view afx-grid-view i{
    display: inline-block;
    margin-right: 5px;
}
afx-file-view afx-grid-view afx-grid-row.selected i:before{
    color:white;
}
afx-file-view afx-grid-view .grid_row_header{
    background-color: #dfdfdf;
}
afx-file-view afx-grid-view .grid_row_header afx-grid-cell{
    border-top: 1px solid #a6a6a6;
    border-right: 1px solid #a6a6a6;
}

afx-file-view afx-tree-view .afx-tree-view-folder-close:before{
    content: "\f07b"; 
    font-family: "FontAwesome";
    font-size: 16px;
    color:#76D2F9;
}
afx-file-view afx-tree-view .afx-tree-view-folder-open:before{
    content: "\f07c"; 
    font-family: "FontAwesome";
    color:#76D2F9;
    font-size: 16px;
}
afx-file-view afx-tree-view{
    margin:0;
    overflow: hidden;
    background-color: transparent;
}
afx-file-view afx-tree-view .afx_tree_item_odd{
    background-color: transparent;
}
afx-file-view afx-tree-view .afx-tree-view-item:before{
    content: "\f016"; 
    font-family: "FontAwesome";
    font-size: 16px;
    color: #414339;
    font-style: normal;
    font-weight: normal;
}
afx-file-view afx-tree-view div{
    overflow: hidden;
    white-space: nowrap;
    background-color: transparent;
    padding:0;
}
afx-file-view  div.treecontainer{
    display: block;
    overflow: auto;
    padding:0;
    margin:0;
}
afx-file-view afx-tree-view div.afx_tree_item_selected, afx-file-view afx-tree-view div.afx_tree_item_selected:hover{
    background-color: transparent;
    color:#414339;
}

afx-file-view afx-tree-view li.itemname{
    padding:3px;
    padding-right: 5px;
}
afx-file-view afx-tree-view div.afx_tree_item_selected .itemname{
    background-color: #116cd6;
    color:white;
    border-radius: 3px;
    
}
afx-file-view afx-tree-view div.afx_tree_item_selected i.file:before{
    color:white;
}

afx-file-view afx-tree-view .afx_folder_item{
    font-weight: normal;
}