afx-tab-bar {
    display: block;
    width: 100%;
    
}
afx-tab-bar afx-list-view {
    padding:0;
    margin:0;
}
afx-tab-bar afx-list-view > div.list-container > ul afx-list-item:nth-child(even) li
{
    background-color: transparent;
}

afx-tab-bar afx-list-view > div.list-container > ul > afx-list-item > li.selected
{
    background-color: #116cd6;
    color:white;
}

afx-tab-bar afx-list-view  > div.list-container > ul  li{
    float:left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-bottom: 2px;
    padding-right:15px;
    padding-top:2px;
    border:1px solid #c3c3c3;
}