afx-feed {
    width: 100%;
}

afx-feed > div{
    border:1px solid #a6a6a6;
    border-radius: 6px;
    background-color: #e9e9e9;
}

afx-feed > div > p{
    padding:2px;
    padding-top: 0;
    padding-left: 5px;
    margin: 0;
    font-weight: bold;
    border-bottom: 1px solid #a6a6a6;
    position: relative;
}
afx-feed i.closable{
    width: 16px;
    height: 16px;
    display: inline-block;
    cursor: pointer;
}
afx-feed  i.closable:before{
    content: "\f00d"; 
    font-family: "FontAwesome";
    font-size: 10px;
    right:5px;
    color: #414339;
    position:absolute;
    font-style: normal;
    top:5px;
}
afx-feed > div > div{
    background-color: white;
    padding:5px;
    border-radius: 6px;
}
afx-feed > div > div > p{
    padding:0;
    margin: 0;
}