html,body{
    margin: 0;
    padding: 0;
    font-family: "Ubuntu";
    font-size: 13px;
    width: 100%;
    height: 100%;
    background-image: url(wp2.jpg);
    background-size: cover;
    background-repeat: repeat;
    overflow: hidden;
}
#wrapper{
    margin: 0;
    padding: 0;
    min-height:100%; 
    overflow:hidden;
}

.afx-clear{
    clear:both;
    background-color: transparent;
    border: 0;
    height: 1px;
}

#workspace {
    width: 100%;
    position: absolute;
    bottom: 0;
    top: 24px;
}

#desktop{
    position: absolute;
    top:3px;
    bottom: 0;
    margin: 0;
    left: 40px;
    right: 0;
    user-select:none;
    cursor: default;
    padding:0px;
}
#desktop > div > .float_list_item {
    display:block;
    background-color:transparent;
    text-align: center;
    width: 70px;
    color: white;
    padding:3px;
}

#desktop > div > div.float_list_item_selected {
    display:block;
    background-color: #116cd6;
    color:white;
    border-radius: 6px;
    text-align: center;
    width: 70px;
    color: white;
    padding:3px;
}

#desktop > div > div.float_list_item i.file:before{
    content: "\f15b\a"; 
    font-family: "FontAwesome";
    font-size: 32px;
    display: block;
    color: white;
    font-style: normal;
    font-weight: normal;
}
#desktop > div >  div.float_list_item span{
    width: 100%;
    word-wrap: break-word;
}
#desktop > div >  div.float_list_item i.dir:before{
    display: block;
    content: "\f07b\a"; 
    font-family: "FontAwesome";
    font-size: 32px;
    color: #76D2F9;
    font-weight: normal;
    font-style: normal;
}
input {
    outline: none;
    padding: 2px;
    height:23px;
    border: 1px solid #a6a6a6;
    background-color: #f6F6F6;
    color: #414339;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "Ubuntu";
    font-size: 13px;
}