
afx-app-window[data-id="marketplace-win"] afx-list-view[data-id='repo'] div.list-container{
    z-index: 10;
}

afx-app-window[data-id="marketplace-win"] afx-vbox[data-id='container'] div[data-id="desc-container"]{
    overflow-y: auto;
    overflow-x: hidden;
}
afx-app-window[data-id="marketplace-win"] p[data-id='app-desc'] {
    text-align: justify;
    padding:10px;
    padding-top: 0;
}
afx-app-window[data-id="marketplace-win"] p[data-id='app-desc'] img{
    display: block;
    margin-bottom: 10px;
    max-width: 100%;
}
afx-app-window[data-id="marketplace-win"] ul[data-id='app-detail'] {
    padding:0;
    padding-left:10px;
    display: table;
    margin: 0;
    font-size: 13px;
}
afx-app-window[data-id="marketplace-win"] afx-tab-bar {
    border-top: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
}
afx-app-window[data-id="marketplace-win"] afx-hbox[data-id="search-container"] input{
    border: 0;
    background-color: transparent;
}
afx-app-window[data-id="marketplace-win"] div[data-id="searchicon"]:before{
    content: "\f002";
    background-color:transparent;
    color:#afafaf;
    font-family: "FontAwesome";
    padding-left:5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
afx-app-window[data-id="marketplace-win"] ul[data-id='app-detail'] li{
    padding:0;
    margin: 0;
    display: table-row;
}
afx-app-window[data-id="marketplace-win"] ul[data-id='app-detail'] span{
    display: table-cell;
    padding: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
}
afx-app-window[data-id="marketplace-win"] span.info-header{
    font-weight: bold;
}
afx-app-window[data-id="marketplace-win"] span.info-detail
{
    word-break: break-word;
}
afx-app-window[data-id="marketplace-win"] afx-label[data-id="vstat"] {
    font-size: 11px;
    color: chocolate;
}
afx-app-window[data-id="marketplace-win"] p.stat {
    margin: 0;
    padding:0;
    margin-bottom: 10px;
}
afx-app-window[data-id = "repository-dialog-win"] afx-list-view[data-id="repo-list"] ul.complex-content > li{
    font-size: 11px;
    font-style: italic;
}

afx-app-window[data-id="marketplace-win"] afx-tab-bar[data-id="catlist"] i.label-text
{
    font-weight: bold;
}

afx-app-window[data-id="marketplace-win"] afx-list-view[data-id="applist"] > div.list-container {
    margin: 0 auto;
}
afx-app-window[data-id="marketplace-win"] afx-list-view[data-id="applist"] > div.list-container > ul
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
afx-app-window[data-id="marketplace-win"] afx-list-view[data-id="applist"] > div.list-container > ul  li{
    /*display: block;*/
    width: 90px;
    text-align: center;
    font-size: 40px;
    /*justify-content: normal !important;*/
}

afx-app-window[data-id="marketplace-win"] afx-list-view[data-id="applist"] i{
    display: block;
    width: 100%;
}


afx-app-window[data-id="marketplace-win"] afx-list-view[data-id="applist"] i.label-text{
    word-break: break-word;
    font-size: 14px;
}
afx-app-window[data-id="marketplace-win"] afx-list-view[data-id="applist"] i.icon-style {
    width: 40px;
    height: 40px;
}
afx-app-window[data-id="marketplace-win"] afx-list-view[data-id="applist"] afx-label span
{
    flex-direction: column;
}
afx-app-window[data-id="marketplace-win"] afx-list-view[data-id="applist"] > div.list-container > ul li:hover {
    background-color: transparent;
}
afx-app-window[data-id="marketplace-win"] afx-list-view[data-id="applist"]> div.list-container > ul .afx-list-item li
{
    background-color: transparent;
}
afx-app-window[data-id="marketplace-win"] afx-list-view[data-id="applist"] > div.list-container > ul .afx-list-item li:hover
{
    background-color: #cecece;
    color: #262626;
    border-radius: 10px;
}
afx-app-window[data-id="marketplace-win"] afx-list-view[data-id="applist"] > div.list-container > ul .afx-list-item li.selected
{
    background-color: #116cd6;
    color:white;
    border-radius: 10px;
}

afx-app-window[data-id="marketplace-win"] afx-hbox[data-id="app-header"] afx-button button
{
    border-radius: 0;
}
afx-app-window[data-id="marketplace-win"] afx-hbox[data-id="app-header"]
{
    border-radius: 0;
    border-bottom: 1px solid #c3c3c3;
}
afx-app-window[data-id="marketplace-win"] afx-hbox[data-id="app-header"] afx-button[data-id="appname"] i.label-text
{
    font-weight: bold;
}