afx-sys-panel > div{
     background-color: #363636;
     border-bottom: 1px solid #262626;
     box-shadow: none;
     height: 22px;
 }

afx-sys-panel .afx-panel-os-menu li
{
    font-weight: bold;
    background-color: #e7414d;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}
afx-sys-panel .afx-panel-os-menu a {
    color: white;
}

afx-sys-panel afx-menu.afx-panel-os-stray afx-menu  {
    left: calc(100% - 170px);
}

afx-sys-panel afx-menu.afx-panel-os-stray afx-menu li.afx_submenu a{
    margin-left: 10px;
}

afx-sys-panel afx-menu.afx-panel-os-stray afx-menu li.afx_submenu:before {
    content: "\f054"; 
    font-family: "FontAwesome";
    font-size: 10px;
    position:absolute;
    text-align: left;
    left:5px;
    top:25%;
 }
afx-sys-panel afx-menu.afx-panel-os-stray afx-menu ul{
    border:1px solid #262626;
    border-radius: 5px;
    border-top-right-radius: 0px;
}
afx-sys-panel afx-menu.afx-panel-os-stray afx-menu li{
    min-width: 150px;
}

afx-sys-panel afx-overlay
{
    background-color: #363636;
    border: 1px solid #262626;
}
afx-sys-panel afx-list-view[data-id="applist"],
afx-sys-panel afx-list-view[data-id="catlist"],
afx-sys-panel afx-resizer
{
    border-top: 1px solid #262626;
    border-bottom: 1px solid #262626;
}

afx-sys-panel afx-list-view[data-id="applist"] > div.list-container > ul li,
afx-sys-panel afx-list-view[data-id="catlist"] > div.list-container > ul li
{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: transparent;
}

afx-sys-panel afx-hbox[data-id="btlist"]  afx-button button
{
    border: 0;
    border-left: 1px solid #262626;
    border-top: 1px solid #262626;
}

afx-sys-panel afx-list-view[data-id="applist"] > div.list-container > ul li:hover,
afx-sys-panel afx-list-view[data-id="catlist"] > div.list-container > ul li:hover
{
    background-color: #cecece;
    color: #262626;
}
afx-sys-panel afx-list-view[data-id="applist"] > div.list-container > ul li.selected,
afx-sys-panel afx-list-view[data-id="catlist"] > div.list-container > ul li.selected

{
    background-color: #116cd6;
    color:white;
}

afx-sys-panel afx-list-view[data-id="catlist"] .label-text {
    font-weight: bold;
}

afx-sys-panel afx-list-view[data-id="applist"] afx-label.search-header {
    font-weight: bold;

}
afx-sys-panel afx-list-view[data-id="applist"] afx-label  i,
afx-sys-panel afx-list-view[data-id="applist"] afx-label  i::before {
    margin-right: 10px;
    width: 16px;
    height: 16px;
}


afx-sys-panel div[data-id="searchicon"]:before{
    content: "\f002";
    display: block;
    background-color:transparent;
    color:#afafaf;
    font-family: "FontAwesome";
    padding-left:3px;
    font-size: 25px;
}
afx-sys-panel input{
    border:0;
    height: 25px;
    color:#afafaf;
    background-color: transparent;
}