
afx-slider div.container{
    border-radius: 3px;
    background-color: #868686;
}

afx-slider div.progress {
    background-color: #116cd6;
    border-radius: 3px;
}

afx-slider div.dragpoint {
    border:1px solid #262626;
    background-color:#868686;
}

afx-slider div.dragpoint::before
{
    content: "\f0d7";
    font-family: "FontAwesome";
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    color:#868686;
    bottom: -15px;
    display: block;
    height: 20px;
}
