afx-list-view  > div.list-container > ul  li{
    padding: 5px;
    padding-top:3px;
    padding-bottom: 3px;
    padding-right: 10px;
    background-color: #363636;
}
afx-list-view > div.list-container > ul afx-list-item:nth-child(even) li{
    background-color:#464646;
}
afx-list-view  i.closable{
    width: 16px;
    height: 16px;
}

afx-list-view  i.closable:before{
    font-size: 10px;
    margin-left: 10px;
    color: #868686;
}

afx-list-view  > div.list-container > ul  li > i {
    margin-right: 3px;
    
}
afx-list-view > div.list-container > ul > afx-list-item > li.selected{
    background-color: #116cd6;
    color:white;
}

afx-list-view.dropdown > div.list-container > ul{
    border:1px solid #a6a6a6;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.65);
    border-radius: 3px;
    max-height: 150px;
    background-color: #363636;
    border-top-left-radius: 0px;
    z-index: 10;
}

afx-list-view.dropdown div.list-container div{
    color: white;
    padding-top:3px;
    padding-bottom: 3px;
    border:1px solid #a6a6a6;
    border-radius: 3px;
    background-color: transparent;
    height: 17px;
}
afx-list-view.dropdown div.list-container div > afx-label{
    padding-left:3px;
}
afx-list-view.dropdown div.list-container div:before {
    content: "\f107"; 
    font-family: "FontAwesome";
    font-size: 11px;
    font-style: normal;
    color: #414339;
    position: absolute;
    top:25%;
    right: 5px;
 }
afx-list-view.dropdown > div.list-container > ul  li:hover{
    background-color: #dcdcdc;
    color: #414339;
}
afx-list-view ul.complex-content{
    padding: 0;
    margin: 0;
    background-color: transparent;
}
afx-list-view ul.complex-content li{
    padding:0;
    background-color: transparent;
    color:#5e5f59;
    list-style: none;
}
afx-list-view  > div.list-container > ul  li.selected ul.complex-content li{
    color:white;
}

afx-list-view  div.button_container afx-button{
    margin-right: 2px;
}
afx-list-view  div.button_container afx-button button{
    border-radius: 0;
    padding-left:5px;
    padding-top:1px;
    padding-bottom: 1px;
    padding-right: 5px;

}
