afx-button button{
    border: 1px solid #262626;
    background-color: #464646;
    color: white;
    border-radius: 3px;
    font-family: "Ubuntu";
}


afx-button button[disabled]{
    color: #868686;
}

afx-button button:active, afx-button button.btactive {
    background-color: #2786F3;
    color: white;
    border: 1px solid #363636;
}