afx-apps-dock{
    background-color:#363636;
    padding:0;
    padding-top: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border:1px solid #262626;
    box-shadow: none;
}

afx-apps-dock afx-button.selected > button {
    background-color: #464646;
    color: white;
    border: 1px solid #464646;
}