afx-file-view afx-label.status{
    background-color: #464646;
    border-top: 1px solid #262626;

}
afx-file-view afx-list-view > div.list-container > ul  li{
    background-color: transparent;
}
afx-file-view afx-list-view > div.list-container > ul .afx-list-item:nth-child(even) li {
    background-color: transparent;
}
afx-file-view afx-list-view i.dir:before{
    content: "\f07b"; 
    font-family: "FontAwesome";
    font-size: 35px;
    color: #76D2F9;
    font-weight: normal;
    font-style: normal;
}
afx-file-view afx-list-view i{
    width: 100%;
    margin-left: 3px;
}


afx-file-view afx-list-view i.file:before{
    content: "\f016"; 
    font-family: "FontAwesome";
    font-size: 30px;
    color: white;
    font-style: normal;
    font-weight: normal;
}

afx-file-view afx-list-view > div.list-container > ul > .afx-list-item > li.selected
{
    background-color: #116cd6;
    color:white;
    border-radius: 6px;
}

afx-file-view afx-grid-view{
    padding:0;
}
afx-file-view afx-grid-view i.file:before{
    content: "\f016"; 
    font-family: "FontAwesome";
    color: white;
    font-style: normal;
    font-weight: normal;
}
afx-file-view afx-grid-view i.dir:before{
    content: "\f07b"; 
    font-family: "FontAwesome";
    color: #76D2F9;
    font-style: normal;
    font-weight: normal;
}
afx-file-view afx-grid-view i{
    margin-right: 5px;
}
afx-file-view afx-grid-view afx-grid-row.afx-grid-row-selected  i:before{
    color:white;
}

afx-file-view afx-grid-view .grid_row_header afx-grid-cell{
    background-color: #464646;
    border-top: 1px solid #262626;
    border-right: 1px solid #262626;
    border-bottom: 1px solid #262626;
}

afx-file-view afx-tree-view .afx-tree-view-folder-close:before{
    content: "\f07b"; 
    font-family: "FontAwesome";
    color:#76D2F9;
}
afx-file-view afx-tree-view .afx-tree-view-folder-open:before{
    content: "\f07c"; 
    font-family: "FontAwesome";
    color:#76D2F9;
}

afx-file-view afx-tree-view .afx-tree-view-item:before{
    content: "\f016"; 
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
}

afx-file-view afx-tree-view div.afx_tree_item_selected, afx-file-view afx-tree-view div.afx_tree_item_selected:hover{
    background-color: transparent;
}

afx-file-view afx-tree-view div.afx_tree_item_selected ul{
    background-color: #116cd6;
    color:white;
    border-radius: 0;
    
}
afx-file-view afx-tree-view div.afx_tree_item_selected i.file:before{
    color:white;
}

afx-file-view afx-tree-view .afx_folder_item{
    font-weight: normal;
}