html,body{
    color: white;
}
#desktop > div > ul afx-list-item {
    color: white;
}

#desktop > div > ul afx-list-item li.selected {
    background-color: #116cd6;
    color:white;
    border-radius: 6px;
}

#desktop > div > ul afx-list-item i.file:before{
    content: "\f15b\a"; 
    font-family: "FontAwesome";
    font-size: 32px;
    display: block;
    color: white;
    font-style: normal;
    font-weight: normal;
}

#desktop > div > ul afx-list-item i.dir:before{
    display: block;
    content: "\f07b\a"; 
    font-family: "FontAwesome";
    font-size: 32px;
    color: #76D2F9;
    font-weight: normal;
    font-style: normal;
}

#systooltip {
    border:1px solid #363636;
    border-radius: 3px;
    padding-left:3px;
    padding-right:3px;
    box-shadow: none;
    background-color: #464646;
}

input {
    outline: none;
    padding: 2px;
    border: 1px solid #262626;
    background-color:#464646;
    color: white;
    border-radius: 3px;
    box-sizing: border-box;
}

textarea {
    color: white;
    background-color: #464646;
    outline: none;
    border: 1px solid #262626;
    box-sizing: border-box;
}

a:link,
a:visited,
a:hover
{
    color:#df3154;
}