:root {
    --antos-ant-color: #5F548E;

    --text-primary: white;
    --text-secondary: #bb86fc;
    --text-tertiary: white;
    --text-disable: #868686;
    --text-warning: orangered;
    --text-error: #df3154;
    --text-info: green;

    --background-primary: #333333;
    --background-secondary: #363636;
    --background-tertiary: #464646;
    --background-quaternary: #464646;
    
    --background-overlay: rgba(54,54,54,0.7);

    --icon-primary: white;
    --icon-secondary: #868686;
    --icon-tertiary:  #76D2F9;

    --item-bg-odd: #474747;
    --item-bg-even: #3b3b3b;
    --item-bg-active: #116cd6;
    --item-bg-hover: #464646;

    --border-primary:#262626;
    --border-secondary: #363636;
    --border-tertiary: #bb86fc;
    --border-quaternary: #646363;

    --shadow-primary: rgba(0,0,0,0.65);
}