afx-app-window[data-id="am-window"] afx-button{
    margin: 3px;
}

afx-app-window[data-id="am-window"] afx-grid-view afx-grid-row afx-grid-cell{
    padding:5px;
}


afx-app-window[data-id="am-window"] afx-grid-view .grid_row_header afx-grid-cell{
    border: 1px solid #a6a6a6;
    padding: 5px;
}