
afx-sys-panel{
    padding:0;
    margin: 0;
}
afx-sys-panel div{
     width: 100%;
     height: 23px;
     margin:0;
     padding: 0;
     background-color: #e7e7e7;
     border-bottom: 1px solid #9c9C9C;
     box-shadow: 1px 1px 1px #9F9F9F;
     position:absolute;
 }
afx-sys-panel .afx-panel-os-menu{
    padding:0;
    margin: 0;
    float:left;
}
afx-sys-panel .afx-panel-os-stray{
    float:right;
}

afx-sys-panel .afx-panel-os-stray  afx-menu afx-menu{
    top:-4px;
    right:0;
}